{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'stylesheets/Semantic-UI-CSS-master/components/menu.min.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/Semantic-UI-CSS-master/components/header.min.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/Semantic-UI-CSS-master/components/step.min.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/Semantic-UI-CSS-master/components/input.min.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/Semantic-UI-CSS-master/components/checkbox.min.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/Semantic-UI-CSS-master/components/form.min.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/Semantic-UI-CSS-master/components/segment.min.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/Semantic-UI-CSS-master/components/button.min.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/Semantic-UI-CSS-master/components/divider.min.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/Semantic-UI-CSS-master/components/dropdown.min.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/Semantic-UI-CSS-master/components/search.min.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/Semantic-UI-CSS-master/components/icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/Semantic-UI-CSS-master/components/image.min.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'stylesheets/bootstrap-4.5.2/dist/css/bootstrap.min.css' %}"> -->
    <link rel="stylesheet" href="{% static 'stylesheets/bootstrap-5.0.0-beta1/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/fontawesome-free-5.15.1-web/css/all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/style.css' %}">
    {% block stylesheets %}
    {% endblock %}
    <title>Anw ka sugu {% block title %} {% endblock %}</title>
</head>

<body>
    <div class="ui small menu d-sm-none d-md-none d-lg-flex d-xl-flex">
        <div class="header item">
            <a class="text-sugu-2 text-decoration-none" href="{% url 'index' %}">AWN KA SUGU</a>
        </div>
        <a class="item active">
            Une meilleure expérience du shopping e-commerce
        </a>
        <a class="item">
            À propos
        </a>
        <a class="item">
            <span class="fa fa-headphones px-2"></span> +223 751 438 40
        </a>
        <a class="item">
            <span class="fa fa-envelope-open-text px-2"></span> elbmaiga@gmail.com
        </a>
        <a class="ui right item">
            <span class="fa fa-shopping-cart px-2"></span> Boutique
        </a>
        <a data-bs-toggle="modal" data-bs-target="#exampleModal" class="ui right item bg-sugu text-light">
            <span class="fa fa-user px-2"></span> Mon compte
        </a>
    </div>

    <div class="container">
        <div class="row mt-sm-2 mt-md-2">
            <div class="offset-sm-2 offset-md-2 offset-lg-0 col-sm-2 col-md-2 col-lg-1">
                <div class="ui small image mt-lg-n3">
                    <a href="#"><img src="{% static 'img/basic/sodi.png' %}"></a>
                </div>
            </div>
            <div class="offset-sm-0 offset-md-1 offset-lg-0 col-sm-8 col-md-6 col-lg-4 mt-md-4 mt-lg-0 mt-2">
                <a class="font-weight-bold text-decoration-none text-white bg-sugu-2 p-2 mr-lg-4" href="#"><span
                        class="fa fa-shopping-cart px-1"></span> 0 FCFA</a>
                <a data-bs-toggle="modal" data-bs-target="#exampleModal"
                    class="font-weight-bold text-decoration-none text-white bg-sugu-2 p-2" href="#"><span
                        class="fa fa-user px-1"></span> Mon compte</a>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-7">
                <form action="{% url 'search' %}" method="GET">
                    <div class="ui fluid action input">
                        <input name="s" type="text" placeholder="Search...">
                        <button type="submit" class="ui button bg-sugu text-light">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal for sign in -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Se connecter</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="ui form">
                        <div class="field">
                            <label for="username">Identifiant ou Adresse email</label>
                            <div class="ui left icon input">
                                <input type="text" id="username" placeholder="Identifiant ou Adresse email">
                                <i class="user icon"></i>
                            </div>
                        </div>
                        <div class="field">
                            <label for="password">Mot de passe</label>
                            <div class="ui left icon input">
                                <input type="password" id="password" placeholder="Mot de passe">
                                <i class="lock icon"></i>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" id="s">
                                <label for="s">Se souvenir de moi</label>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <button class="fluid ui button bg-sugu text-light">Se connecter</button>
                    </div>
                    <div class="text-center m-2">
                        <p class="">Pas encore de compte sugu ? </p>
                        <div class="ui buttons">
                            <button data-bs-toggle="modal" data-bs-target="#exampleModal2"
                                class="ui button bg-sugu-2 text-light"><span class="fa fa-users"></span> Créer un
                                compte</button>
                        </div>
                    </div>
                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div> -->
            </div>
        </div>
    </div>

    <!-- End modal -->

    <!-- Modal for sign up -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Créer un compte</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="ui form">
                        <div class="field">
                            <label for="idetifiant">Identifiant</label>
                            <div class="ui left icon input">
                                <input type="text" id="idetifiant" placeholder="Identifiant">
                                <i class="user icon"></i>
                            </div>
                        </div>
                        <div class="field">
                            <label for="mail">Adresse email</label>
                            <div class="ui left icon input">
                                <input type="email" id="mail" placeholder="Adresse email">
                                <i class="at icon"></i>
                            </div>
                        </div>
                        <div class="field">
                            <label for="tel">Téléphone</label>
                            <div class="ui left icon input">
                                <input type="tel" id="tel" placeholder="N° Téléphone">
                                <i class="mobile icon"></i>
                            </div>
                        </div>
                        <div class="field">
                            <label for="activity">Activité</label>
                            <select id="activity" class="ui search dropdown">
                                <option value="">Month</option>
                            </select>
                        </div>
                        <div class="field">
                            <label for="cpassword">Mot de passe</label>
                            <div class="ui left icon input">
                                <input type="password" id="cpassword" placeholder="Mot de passe">
                                <i class="lock icon"></i>
                            </div>
                        </div>
                        <div class="field">
                            <label for="cpassword2">Confirmation de Mot de passe</label>
                            <div class="ui left icon input">
                                <input type="password" id="cpassword2" placeholder="Confirmation de Mot de passe">
                                <i class="lock icon"></i>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" id="s">
                                <label for="using">J'accepte les conditions d'utilisation</label>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <button class="fluid ui button bg-sugu text-light">Créer mon compte</button>
                    </div>
                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div> -->
            </div>
        </div>
    </div>
    <!-- <div class="modal-dialog modal-dialog-centered">
        ...
    </div> -->

    <!-- End modal -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-sugu sticky-top">
        <a class="navbar-brand" href="#">Catégories</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav small font-weight-bold">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Téléphones & Gadgets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Électromenagers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Informatique</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sports/Santé</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Maison & Bureau</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Mode</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Alimentation</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="d-sm-none d-md-none d-lg-block d-xl-block col-lg-12 col-xl-12">
            {% block action_to_shop %}
            {% endblock %}
        </div>
        {% block slider %}
        {% endblock %}

        <section class="row">
            {% block article_promo %}
            {% endblock %}
        </section>
        <!-- <div class="row">
            <div class="col-12 bg-sugu-2 p-2 text-center text-light">
                <h3>Actuellement en vente</h3>
            </div>
        </div> -->
        <div class="row">
            {% block article %}
            {% endblock %}
        </div>
        <div class="row">
            <div class="col-12 bg-sugu p-2 text-center text-light">
                {% block section_separator_blue %}
                {% endblock %}
            </div>
        </div>
        <div class="row">
            <section class="col-sm-12 col-md-12 col-lg-6">
                {% block article_star %}
                {% endblock %}
            </section>
            <section class="col-sm-12 col-md-12 col-lg-6">
                <div class="row">
                    {% block article_2 %}
                    {% endblock %}
                </div>
            </section>
        </div>
        <div class="row">
            <div class="col-12 bg-sugu-2 p-2 text-center text-light">
                {% block section_separator_red %}
                {% endblock %}
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <footer class="bg-sugu-2 p-4 text-light">
        <div class="row">
            <div class="col-4 border-right">
                <h2>CONTACT</h2>
                <p class="small text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius recusandae et sequi cumque? Eum unde
                    adipisci culpa repellat ex nemo provident, iure ipsum voluptas consequuntur minus architecto aliquam
                    error nulla!
                    Cupiditate quos consectetur ipsam necessitatibus enim natus deserunt est doloribus inventore. Velit
                    doloribus earum pariatur repudiandae ex fugit hic, iusto sunt, omnis quae numquam natus odio
                    inventore tenetur saepe vel?
                    Quia possimus odio, doloribus ducimus ex modi ipsum non voluptatibus fugiat. Consectetur atque ea
                    soluta veniam pariatur alias laboriosam velit. Nam, animi porro. Quae veniam laboriosam adipisci ut
                    fugit quisquam.
                </p>
            </div>
            <div class="col-4 border-right">
                <h2>CATÉGORIES PHARES</h2>
                <p class="small text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius recusandae et sequi cumque? Eum unde
                    adipisci culpa repellat ex nemo provident, iure ipsum voluptas consequuntur minus architecto aliquam
                    error nulla!
                    Cupiditate quos consectetur ipsam necessitatibus enim natus deserunt est doloribus inventore. Velit
                    doloribus earum pariatur repudiandae ex fugit hic, iusto sunt, omnis quae numquam natus odio
                    inventore tenetur saepe vel?
                    Quia possimus odio, doloribus ducimus ex modi ipsum non voluptatibus fugiat. Consectetur atque ea
                    soluta veniam pariatur alias laboriosam velit. Nam, animi porro. Quae veniam laboriosam adipisci ut
                    fugit quisquam.
                </p>
            </div>
            <div class="col-4">
                <h2>SERVICES CLIENTS</h2>
                <p class="small text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius recusandae et sequi cumque? Eum unde
                    adipisci culpa repellat ex nemo provident, iure ipsum voluptas consequuntur minus architecto aliquam
                    error nulla!
                    Cupiditate quos consectetur ipsam necessitatibus enim natus deserunt est doloribus inventore. Velit
                    doloribus earum pariatur repudiandae ex fugit hic, iusto sunt, omnis quae numquam natus odio
                    inventore tenetur saepe vel?
                    Quia possimus odio, doloribus ducimus ex modi ipsum non voluptatibus fugiat. Consectetur atque ea
                    soluta veniam pariatur alias laboriosam velit. Nam, animi porro. Quae veniam laboriosam adipisci ut
                    fugit quisquam.
                </p>
            </div>
        </div>
    </footer>


    <script src="{% static 'stylesheets/jquery.js' %}"></script>
    <!-- <script src="{% static 'stylesheets/bootstrap-4.5.2/dist/js/bootstrap.bundle.js' %}"></script> -->
    <script src="{% static 'stylesheets/bootstrap-5.0.0-beta1/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'stylesheets/Semantic-UI-CSS-master/components/dropdown.min.js' %}"></script>
    <script src="{% static 'stylesheets/sugu.js' %}"></script>

    <script>
        $(document).ready(function () {
            $('.article').mouseenter(function () {
                $(this).addClass('shadow')
            })
            $('.article').mouseleave(function () {
                $(this).removeClass('shadow')
            })
        })
    </script>
</body>

</html>