{% extends 'layouts/default.html' %}
{% load static %}
{% load humanize %}

{% block article %}
<section class="row mt-4">
    <div class="col-3">
        <div class="ui segment">
            <div class="ui left mini rail">
                Afficher toutes les Catégories
            </div>
        </div>
    </div>
    <div class="col-9">
        <article class="row">
            <div class="col-4">
                <div class="ui large image">
                    <a href="#"><img src="{% static article.cover.url %}"></a>
                </div>
                <div class="row mt-4">
                    {% for image in images %}
                    <div class="col-4">
                        <div class="ui small image">
                            <a href="#"><img src="{% static image.image.url %}"></a>
                        </div>
                    </div>
                    {% empty %}
                    No image
                    {% endfor %}
                </div>
            </div>
            <div class="col-8">
                <div class="small d-block">
                    <!-- <a class="text-secondary pr-2" href="#">Accessoires</a> -->
                    {% for c in categories %}
                    <a class="text-secondary pr-2" href="{% url 'search_category' c.category %}">{{ c.category }}</a>
                    {% endfor %}
                </div>
                <div class="font-weight-bold pb-4 border-bottom">
                    {{ article.title }}
                </div>
                <div class="pt-4">
                    <span class="font-weight-bold underline d-block text-uppercase">Description</span>
                    <p class="small">
                        {{ article.description }}
                    </p>
                    <p class="font-weight-bold h4">
                        {{ article.price|intcomma }} {{ article.devise }}
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="input-group mb-3 col-6">
                                <input name="quantity" type="number" class="form-control" min="1" value="1" aria-label="quantity"
                                    aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-sugu" type="submit" id="button-addon2">Ajouter au
                                        panier</button>
                                </div>
                            </div>
                        </form>
                    </p>
                </div>
                <div>

                </div>
            </div>
        </article>
    </div>
</section>
{% endblock %}